
.ChatHeader{
    background: rgb(23, 33, 43);
    padding:20px; 
    
    
    }
    .ChatHeaderLabels{
    display: inline-block;
    line-height: 60%;
    font-size: 10px;}
    .ChatHeaderLabels:first{
    color:white;
    
    }
    .ChatButtons{
    
        display:inline-block;
        float: right;
    }