.ChatMessages{
    bottom: 0px;
    padding-right:20px; 
    
    }
    
    li.OwnChatMessage{
    background: blue;
    
    
    }
    .ChatMessages li.OwnChatMessage{
      right: 0px;
      text-decoration: none;
      background: none;
      text-align: right;
      list-style-type: none;
      }
    
      .ChatMessages li.OwnChatMessage span{
        background: blue;
        border-radius: 2px;
        padding-left: 8px;
        padding-right: 8px;
        
      }
    .ChatMessages  li.IncomeChatMessage{
      background: none;
    
    }